
.number{
    width: 300px;
    height: 50px;
    border-radius: 8px;
    font-size: 25px;
    color: rgb(140, 68, 92);   
    margin-top: 260px; 
    margin-left: 400px;
}
.btn{
    width: 100px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(110, 110, 217);
    margin-top: 260px;
    margin-left: 10px;
}
.h{
    font-family: sans-serif;
    font-size: 35px;
    color: brown;
    font-weight: 700;
    margin-left: 400px;
}